<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Registro de pacientes</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="col-12">
    <form>
        <div class="row">
            <div class="form-group col-4">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresar Nombre">
            </div>
            <div class="form-group col-4">
                <label for="exampleInputEmail1">Apellido Paterno</label>
                <input type="email" class="form-control" id="exampleInputEmail1"
                    placeholder="Ingresar Apellido Paterno">
            </div>
            <div class="form-group col-4">
                <label for="exampleInputEmail1">Apellido Materno</label>
                <input type="email" class="form-control" id="exampleInputEmail1"
                    placeholder="Ingresar Apellido Materno">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
                <label for="exampleInputEmail1">Peso</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresar Nombre">
            </div>
            <div class="form-group col-4">
                <label for="exampleInputEmail1">Altura</label>
                <input type="email" class="form-control" id="exampleInputEmail1"
                    placeholder="Ingresar Apellido Paterno">
            </div>
            <div class="form-group col-4">
                <label>Sexo</label>
                <select class="form-control">
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Alergias y/o discapacidades</label>
            <textarea class="form-control" rows="3" placeholder="Ingresar alergias y/o discapacidades..."></textarea>
        </div>
        <div class="form-check">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
</div><!-- /.col -->