<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Registro de pacientes</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="col-12">
    <form autocomplete="off">
        <div class="row">
            <div class="form-group col-4">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingresar Nombre">
            </div>
            <div class="form-group col-4">
                <label for="apellido-pat">Apellido Paterno</label>
                <input type="text" class="form-control" id="apellido-pat" placeholder="Ingresar Apellido Paterno">
            </div>
            <div class="form-group col-4">
                <label for="apellido-mat">Apellido Materno</label>
                <input type="text" class="form-control" id="apellido-mat" placeholder="Ingresar Apellido Materno">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
                <label for="peso">Peso</label>
                <input type="text" class="form-control" id="peso" placeholder="Ingresar Peso">
            </div>
            <div class="form-group col-4">
                <label for="altura">Altura</label>
                <input type="text" class="form-control" id="altura" placeholder="Ingresar Altura">
            </div>
            <div class="form-group col-4">
                <label>Sexo</label>
                <select class="form-control">
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Alergias y/o discapacidades</label>
            <textarea class="form-control" rows="3" placeholder="Ingresar alergias y/o discapacidades..."></textarea>
        </div>
        <div class="form-check">
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </form>
</div><!-- /.col -->