<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Lista de pacientes</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="table-wrapper">
      <h5 class="text-center" *ngIf="pacientes.length==0">No hay ningun registro para mostrar</h5>
      <table *ngIf="pacientes.length >0" class="tabla">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Peso</th>
            <th>Estatura</th>
            <th>Sexo</th>
            <th>Alergias</th>
            <th>Editar</th>
            <th>Eliminar</th>
            <th>Generar Receta</th>
          </tr>
        </thead>
        <tbody>
          <!-- *ngFor="let paciente of pacientes | async" -->
          <tr *ngFor="let paciente of pacientes ">
            <td> {{paciente.nombre}} </td>
            <td> {{paciente.apellidoP}} </td>
            <td> {{paciente.apellidoM}} </td>
            <td> {{paciente.peso}} </td>
            <td> {{paciente.altura}} </td>
            <td> {{paciente.sexo | formatStatus}} </td>
            <td> {{paciente.aler_disca}} </td>
            <td><button [routerLink]="['/editarPaciente/',paciente.id]" class="btn btn-primary">Editar</button></td>
            <td><button (click)="eliminarPacientes(paciente.id)" class="btn btn-danger">Eliminar</button></td>
            <td>
              <div class="row">
                <button [routerLink]="['/receta/',paciente.id]" class="btn btn-secondary ml-2">Generar Receta</button>
                <button [routerLink]="['/ver-receta/',paciente.id]" class="btn btn-secondary ml-2">Ver Receta</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
