<!-- Content Header (Page header) -->
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Ver recetas</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="table-wrapper">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Temperatura</th>
                        <th>Presion Arterial</th>
                        <th>Diagnostico</th>
                        <th>Tratamiento</th>
                        <th>Eliminar</th>
                        <th>Imprimir</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- *ngFor="let paciente of pacientes | async" -->
                    <tr *ngFor="let receta of recetas">
                        <td>{{receta.fecha}}</td>
                        <td>{{receta.temperatura}}</td>
                        <td>{{receta.presionArterial}}</td>
                        <td>{{receta.diagnosticoMedico}}</td>
                        <td>{{receta.tratamiento}}</td>
                        <td><button (click)="deleteReceta(receta.id)" class="btn btn-danger">Eliminar</button></td>
                        <td><button (click)="printPDF(receta.fecha, receta.temperatura, receta.presionArterial, receta.diagnosticoMedico, receta.tratamiento)" class="btn btn-primary">Imprimir</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
